.benefit__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848FAC;
  max-width: 584px;
}

@media screen and (max-width: 768px) {
  .benefit__subtitle {
    min-width: 310px;
    max-width: 100%;
    text-align: center;
  }
}