.footer__logo {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin: 0;
}