.reviews__photo {
  width: 120px;
  height: 120px;
  padding: 62px 0 44px;
}

@media screen and (max-width: 1024px) {
  .reviews__photo {
    padding: 35px 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .reviews__photo {
    padding: 25px 0 20px;
  }
}