.lead {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* width: calc(100% - 120px * 2); */
  /* margin: 112px auto 0; */
  padding: 80px 120px 96px 120px;
}