.benefit{
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 32px;
  align-items: center;
  padding: 80px 226px 80px 120px;
}

@media screen and (max-width: 1280px) {
  .benefit {
    padding: 80px 83px;
  }
}

@media screen and (max-width: 1024px) {
  .benefit {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 768px) {
  .benefit {
    padding: 30px 10px;
  }
}