.benefit{
  display: grid;
  /* align-items: center; */
  /* grid-template-columns: repeat(2, auto); */
  grid-template-rows: repeat(2, auto);
  /* column-gap: 126px; */
  row-gap: 32px;
  align-items: center;
  /* width: calc(100% - 90px * 2); */
  /* margin: 160px auto 0; */
  padding: 80px 226px 80px 120px;
}