.header{
  display: grid;
  grid-template-columns: auto auto 136px;
  justify-content: space-between;
  align-items: center;
  padding: 46px 120px 35px;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 46px 60px 35px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 30px 20px 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 30px 60px 20px;
  }
}

@media screen and (max-width: 690px) {
  .header {
    padding: 10px 20px 10px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    display: flex;
  }
}

@media screen and (max-width: 540px) {
  .header {
    padding: 10px 0 10px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    flex-direction: column;
  }
}