.lead__button{
  width: 180px;
  height: 51px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  background: #0E1734;
  text-decoration: none;
  }

  .lead__button:hover{
    background: rgb(29, 144, 198)
  }
  
  .lead__button:active{
    background: #fff;
    color: #0E1734;
  }
