.header__button {
  border-radius: 4px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #0E1734;
  text-decoration: none;
  height: 47px;
  width: 136px;
}

.header__button:hover {
  background: rgb(29, 144, 198)
}

.header__button:active {
  background: #fff;
  color: #0E1734;
}