.intro__button{
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  background: #0E1734;
  text-decoration: none;
  transition: .2s;
  padding: 16px 32px;
  }
  .intro__button:hover{
    background: rgb(29, 144, 198)
  }
  .intro__button:active{
    background: #fff;
    color: #0E1734;
  }