.choice__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848FAC;
  min-height: 81px;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .choice__description {
    min-height: 135px;
  }
}

@media screen and (max-width: 815px) {
  .choice__description {
    min-height: 20px;
  }
}