@keyframes one1 {

  25% {
    transform: scale(0.5);
  }
}

@keyframes two1 {

  25% {
    transform: scale(0.5);
  }
}

@keyframes three1 {

  25% {
    transform: scale(0.5);
  }
}

@keyframes four1 {

  25% {
    transform: scale(0.5);
  }
}