@keyframes one {

  25% {
    transform: scale(0.5);
  }
}

@keyframes two {

  25% {
    transform: scale(0.5);
  }
}

@keyframes three {

  25% {
    transform: scale(0.5);
  }
}

@keyframes four {

  25% {
    transform: scale(0.5);
  }
}