.interior__btn[type="radio"] {
  position: absolute;
  right: 1000%;
}

#one:checked~#slider {
  animation-name: one;
  left: 0;
}

#two:checked~#slider {
  animation-name: two;
  left: 10%;
}

#three:checked~#slider {
  animation-name: three;
  left: 20%;
}

#four:checked~#slider {
  animation-name: four;
  left: 30%;
}