.header__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-content: center;
  column-gap: 36px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .header__list {
    column-gap: 80px;
  }
}

@media screen and (max-width: 390px) {
  .header__list {
    column-gap: 20px;
  }
}