.header__item {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #192252;
  opacity: 1;
  text-decoration: none;
}
.header__item:hover{
  cursor: pointer;
  opacity: .6;
}